certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.12.3
identify==2.5.27
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
platformdirs==3.10.0
pre-commit==3.4.0
Pygments==2.16.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rich==13.5.3
shellingham==1.5.3
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.0.4
virtualenv==20.24.5
