certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.13.1
identify==2.5.32
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
platformdirs==4.1.0
pre-commit==3.6.0
Pygments==2.17.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
shellingham==1.5.4
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.1.0
virtualenv==20.25.0
